<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('./partials/head') %>

    <link rel="stylesheet" href="/styles/alerts.css">
    <link rel="stylesheet" href="/styles/admin-page-styles.css">
    <link rel="stylesheet" href="/styles/main-page-styles.css">
    <title>Админ-панель</title>
</head>

<body>
    <div class="wrapper">
        <%- include('./partials/header') %>

        <main class="main">
            <div class="main_inner" id="main-page">
                <section class="users-table-section">
                    <div class="users-table-container">
                         <table id="users-table" class="users-table" style="width:100%">
                            <thead class="users-table-thead">
                                <th>Имя</th>
                                <th>Фамилия</th>
                                <th>Отчество</th>
                                <th>Почта</th>
                                <th>Роль</th>
                                <th></th>
                            </thead>
                            <tbody class="users-table-tbody">
                                <% users.forEach((user) => { %>
                                    <tr>
                                        <td class="td-user-name"><%=user.name%></td>
                                        <td class="td-user-surname"><%=user.surname%></td>
                                        <td class="td-user-middle_name"><%=user.middle_name%></td>
                                        <td><%=user.email%></td>
                                        <td class="td-select-status">
                                            <select data-user="<%=user.user_id%>" name="user-status" class="js-select-status">
                                                <%  roles.forEach((role) => { 
                                                    if(role.role_id == user.role) { %> 
                                                    <option value="<%=role.role_id%>" selected><%=role.name%></option>
                                                <% } else { %> 
                                                    <option value="<%=role.role_id%>"><%=role.name%></option>
                                                <% }
                                                }) %>
                                            </select>
                                        </td>
                                        <td>
                                            <button data-tooltip-content="Удалить пользователя" data-user="<%=user.user_id%>" class="js-delete-row-button js-button data-tooltip">
                                                <svg viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="18.5" cy="18.5" r="18.5" fill="#BC3535"/>
                                                    <path d="M20.3 19.22C20.8336 18.7581 21.2616 18.1869 21.5549 17.545C21.8482 16.9032 22 16.2057 22 15.5C22 14.1739 21.4732 12.9021 20.5355 11.9645C19.5979 11.0268 18.3261 10.5 17 10.5C15.6739 10.5 14.4021 11.0268 13.4645 11.9645C12.5268 12.9021 12 14.1739 12 15.5C12 16.2057 12.1518 16.9032 12.4451 17.545C12.7384 18.1869 13.1664 18.7581 13.7 19.22C12.3001 19.8539 11.1125 20.8775 10.279 22.1685C9.4455 23.4596 9.00147 24.9633 9 26.5C9 26.7652 9.10536 27.0196 9.29289 27.2071C9.48043 27.3946 9.73478 27.5 10 27.5C10.2652 27.5 10.5196 27.3946 10.7071 27.2071C10.8946 27.0196 11 26.7652 11 26.5C11 24.9087 11.6321 23.3826 12.7574 22.2574C13.8826 21.1321 15.4087 20.5 17 20.5C18.5913 20.5 20.1174 21.1321 21.2426 22.2574C22.3679 23.3826 23 24.9087 23 26.5C23 26.7652 23.1054 27.0196 23.2929 27.2071C23.4804 27.3946 23.7348 27.5 24 27.5C24.2652 27.5 24.5196 27.3946 24.7071 27.2071C24.8946 27.0196 25 26.7652 25 26.5C24.9985 24.9633 24.5545 23.4596 23.721 22.1685C22.8875 20.8775 21.6999 19.8539 20.3 19.22ZM17 18.5C16.4067 18.5 15.8266 18.3241 15.3333 17.9944C14.8399 17.6648 14.4554 17.1962 14.2284 16.6481C14.0013 16.0999 13.9419 15.4967 14.0576 14.9147C14.1734 14.3328 14.4591 13.7982 14.8787 13.3787C15.2982 12.9591 15.8328 12.6734 16.4147 12.5576C16.9967 12.4419 17.5999 12.5013 18.1481 12.7284C18.6962 12.9554 19.1648 13.3399 19.4944 13.8333C19.8241 14.3266 20 14.9067 20 15.5C20 16.2956 19.6839 17.0587 19.1213 17.6213C18.5587 18.1839 17.7956 18.5 17 18.5ZM27.91 19L28.71 18.21C28.8032 18.1168 28.8772 18.0061 28.9277 17.8842C28.9781 17.7624 29.0041 17.6319 29.0041 17.5C29.0041 17.3681 28.9781 17.2376 28.9277 17.1158C28.8772 16.9939 28.8032 16.8832 28.71 16.79C28.6168 16.6968 28.5061 16.6228 28.3842 16.5723C28.2624 16.5219 28.1319 16.4959 28 16.4959C27.8681 16.4959 27.7376 16.5219 27.6158 16.5723C27.4939 16.6228 27.3832 16.6968 27.29 16.79L26.5 17.59L25.71 16.79C25.6168 16.6968 25.5061 16.6228 25.3842 16.5723C25.2624 16.5219 25.1319 16.4959 25 16.4959C24.7337 16.4959 24.4783 16.6017 24.29 16.79C24.1968 16.8832 24.1228 16.9939 24.0723 17.1158C24.0219 17.2376 23.9959 17.3681 23.9959 17.5C23.9959 17.7663 24.1017 18.0217 24.29 18.21L25.09 19L24.29 19.79C24.1963 19.883 24.1219 19.9936 24.0711 20.1154C24.0203 20.2373 23.9942 20.368 23.9942 20.5C23.9942 20.632 24.0203 20.7627 24.0711 20.8846C24.1219 21.0064 24.1963 21.117 24.29 21.21C24.383 21.3037 24.4936 21.3781 24.6154 21.4289C24.7373 21.4797 24.868 21.5058 25 21.5058C25.132 21.5058 25.2627 21.4797 25.3846 21.4289C25.5064 21.3781 25.617 21.3037 25.71 21.21L26.5 20.41L27.29 21.21C27.383 21.3037 27.4936 21.3781 27.6154 21.4289C27.7373 21.4797 27.868 21.5058 28 21.5058C28.132 21.5058 28.2627 21.4797 28.3846 21.4289C28.5064 21.3781 28.617 21.3037 28.71 21.21C28.8037 21.117 28.8781 21.0064 28.9289 20.8846C28.9797 20.7627 29.0058 20.632 29.0058 20.5C29.0058 20.368 28.9797 20.2373 28.9289 20.1154C28.8781 19.9936 28.8037 19.883 28.71 19.79L27.91 19Z" fill="#E4E4E4"/>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </main>
        <%- include('./partials/footer') %>
    </div>
    <script src="/modules/datatables.net/js/dataTables.min.js"></script>
    <script src="/scripts/alerts.js"></script>
    <script src="/scripts/admin-panel-page-script.js"></script>
</body>

</html>