<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('./partials/head') %>

        <link rel="stylesheet" href="/styles/main-page-styles.css">
        <link rel="stylesheet" href="/styles/alerts.css">
        <link rel="stylesheet" href="/styles/text-editors.css">
        <link rel="stylesheet" href="/styles/editor-page-styles.css">
        <link rel="stylesheet" href="/modules/quill/dist/quill.snow.css">
        <title>Редактор</title>
</head>
<body>
    <div class="wrapper">
        <%- include('./partials/header') %>

        <main class="main">
            <div class="main_inner">
                <section class="editor-section">
                    <div class="your-themes_block">
                        <h1 class="mb-2">Ваши темы</h1>
                        <ul class="your-themes-list">
                            <% if (themes.length != 0) {
                                themes.forEach((theme) => { %>
                                    <li class="list-item">
                                        <div class="list-item-info">
                                            <div class="item-title"><%= theme.title %></div>
                                            <div class="item-description"><%= theme.description %></div>                                    
                                        </div>
                                        <div class="list-item-actions">
                                            <a href="editor/<%= theme.theme_id %>">   
                                                <svg class="action-edit" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g id="Iconly/Regular/Outline/Edit Square">
                                                    <g id="Edit Square">
                                                    <path id="Fill 1" fill-rule="evenodd" clip-rule="evenodd" d="M16.577 22.3687H7.753C4.312 22.3687 2 19.9537 2 16.3597V8.04574C2 4.45174 4.312 2.03674 7.753 2.03674H11.492C11.906 2.03674 12.242 2.37274 12.242 2.78674C12.242 3.20074 11.906 3.53674 11.492 3.53674H7.753C5.169 3.53674 3.5 5.30674 3.5 8.04574V16.3597C3.5 19.0987 5.169 20.8687 7.753 20.8687H16.577C19.161 20.8687 20.831 19.0987 20.831 16.3597V12.3317C20.831 11.9177 21.167 11.5817 21.581 11.5817C21.995 11.5817 22.331 11.9177 22.331 12.3317V16.3597C22.331 19.9537 20.018 22.3687 16.577 22.3687Z" fill="#008A00"/>
                                                    <path id="Fill 3" fill-rule="evenodd" clip-rule="evenodd" d="M8.86762 15.4284H11.8446C12.2246 15.4284 12.5806 15.2814 12.8496 15.0124L20.3586 7.50337C20.6666 7.19537 20.8366 6.78537 20.8366 6.34937C20.8366 5.91237 20.6666 5.50137 20.3586 5.19337L19.1416 3.97637C18.5046 3.34137 17.4686 3.34137 16.8306 3.97637L9.35762 11.4494C9.09862 11.7084 8.95162 12.0524 8.94262 12.4174L8.86762 15.4284ZM11.8446 16.9284H8.09862C7.89662 16.9284 7.70262 16.8464 7.56162 16.7014C7.42062 16.5574 7.34362 16.3624 7.34862 16.1594L7.44262 12.3804C7.46162 11.6284 7.76462 10.9214 8.29662 10.3884H8.29762L15.7706 2.91537C16.9926 1.69537 18.9796 1.69537 20.2016 2.91537L21.4186 4.13237C22.0116 4.72437 22.3376 5.51137 22.3366 6.34937C22.3366 7.18737 22.0106 7.97337 21.4186 8.56437L13.9096 16.0734C13.3586 16.6244 12.6246 16.9284 11.8446 16.9284Z" fill="#008A00"/>
                                                    <path id="Fill 5" fill-rule="evenodd" clip-rule="evenodd" d="M19.7308 9.91673C19.5388 9.91673 19.3468 9.84373 19.2008 9.69673L14.6348 5.13073C14.3418 4.83773 14.3418 4.36273 14.6348 4.06973C14.9278 3.77673 15.4018 3.77673 15.6948 4.06973L20.2608 8.63673C20.5538 8.92973 20.5538 9.40373 20.2608 9.69673C20.1148 9.84373 19.9228 9.91673 19.7308 9.91673Z" fill="#008A00"/>
                                                    </g>
                                                    </g>
                                                </svg>                                                                                                    
                                            </a>
                                            <svg class="action-delete" data-theme="<%= theme.theme_id %>" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g id="Iconly/Regular/Outline/Delete">
                                                <g id="Delete">
                                                <path id="Fill 1" fill-rule="evenodd" clip-rule="evenodd" d="M12.2466 22C10.8916 22 9.5706 21.985 8.2636 21.958C6.5916 21.925 5.4346 20.841 5.2456 19.129C4.9306 16.289 4.3916 9.59503 4.3866 9.52803C4.3526 9.11503 4.6606 8.75303 5.0736 8.72003C5.4806 8.70903 5.8486 8.99503 5.8816 9.40703C5.8866 9.47503 6.4246 16.146 6.7366 18.964C6.8436 19.937 7.3686 20.439 8.2946 20.458C10.7946 20.511 13.3456 20.514 16.0956 20.464C17.0796 20.445 17.6116 19.953 17.7216 18.957C18.0316 16.163 18.5716 9.47503 18.5776 9.40703C18.6106 8.99503 18.9756 8.70703 19.3846 8.72003C19.7976 8.75403 20.1056 9.11503 20.0726 9.52803C20.0666 9.59603 19.5246 16.307 19.2126 19.122C19.0186 20.869 17.8646 21.932 16.1226 21.964C14.7896 21.987 13.5036 22 12.2466 22Z" fill="#CC2C2C"/>
                                                <path id="Fill 3" fill-rule="evenodd" clip-rule="evenodd" d="M20.708 6.98938H3.75C3.336 6.98938 3 6.65338 3 6.23938C3 5.82538 3.336 5.48938 3.75 5.48938H20.708C21.122 5.48938 21.458 5.82538 21.458 6.23938C21.458 6.65338 21.122 6.98938 20.708 6.98938Z" fill="#CC2C2C"/>
                                                <path id="Fill 5" fill-rule="evenodd" clip-rule="evenodd" d="M17.4403 6.98937C16.3023 6.98937 15.3143 6.17837 15.0903 5.06237L14.8473 3.84637C14.7963 3.66137 14.5853 3.50037 14.3453 3.50037H10.1123C9.87233 3.50037 9.66133 3.66137 9.60033 3.89237L9.36733 5.06237C9.14433 6.17837 8.15533 6.98937 7.01733 6.98937C6.60333 6.98937 6.26733 6.65337 6.26733 6.23937C6.26733 5.82537 6.60333 5.48937 7.01733 5.48937C7.44333 5.48937 7.81333 5.18537 7.89733 4.76737L8.14033 3.55137C8.38733 2.61937 9.19433 2.00037 10.1123 2.00037H14.3453C15.2633 2.00037 16.0703 2.61937 16.3073 3.50637L16.5613 4.76737C16.6443 5.18537 17.0143 5.48937 17.4403 5.48937C17.8543 5.48937 18.1903 5.82537 18.1903 6.23937C18.1903 6.65337 17.8543 6.98937 17.4403 6.98937Z" fill="#CC2C2C"/>
                                                </g>
                                                </g>
                                            </svg>                                                
                                        </div>
                                    </li>                                
                                <% })
                            } else { %>
                                <li class="themes-list-empty">
                                    <svg viewBox="0 0 24 24" fill="rgb(221, 144, 0)">
                                        <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 15H13V17H11V15ZM11 7H13V13H11V7Z"></path>
                                    </svg>
                                    У вас пока нет созданных тем
                                </li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="new-theme_block">
                        <h1 class="mb-2">Новая тема</h1>
                        <form id="create-theme-form">
                            <div class="mb-3 create-theme-form-item d-flex flex-column">
                                <label for="title">Название</label>
                                <input type="text" placeholder="Название темы" name="title" id="title">
                                <p class="character-counter">Символы: <span class="character-count">0</span>/<span class="max-count">30</span></p>
                            </div>
                            <div class="mb-3 create-theme-form-item d-flex flex-column">
                                <label for="description">Описание</label>
                                <input type="text" placeholder="Описание темы" name="description" id="description">
                                <p class="character-counter">Символы: <span class="character-count">0</span>/<span class="max-count">110</span></p>
                            </div>
                            <div class="mb-3 create-theme-form-item d-flex flex-column">
                                <label>Теория</label>
                                <div id="theory_editor"></div>
                            </div>
                            <div class="mb-3 create-theme-form-item d-flex flex-column">
                                <label>Практическое задание</label>
                                <div id="task_editor"></div>
                            </div>
                            <div class="create-theme-form-item form-actions">
                                <input type="submit" value="Готово">
                                <input type="reset" value="Очистить">
                            </div>
                        </form>                        
                    </div>
                </section>                
            </div>
        </main>

        <%- include('./partials/footer') %>
    </div>
    <script src="/modules/quill/dist/quill.js"></script>
    <script src="/scripts/alerts.js"></script>
    <script src="/scripts/editor-page-script.js"></script>
</body>
</html>