<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('./partials/head') %>
    
    <link rel="stylesheet" href="/libs/micromodal/micromodal.css">
    <link rel="stylesheet" href="/styles/main-page-styles.css">
    <link rel="stylesheet" href="/styles/profile-page-styles.css">
    <title>Личный кабинет</title>
</head>
<body>
    <div class="wrapper">  
        <%- include('./partials/header') %>

        <main class="main">
            <div class="main_inner">
                <section class="profile-section">
                    <div class="avatar-block content-block">
                        <svg class="avatar-block-profile-icon" viewBox="0 0 395 395" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="197.5" cy="197.5" r="190.5" stroke="#F9F9F9" stroke-width="14"/>
                            <path d="M197.5 199.482C184.27 199.482 173.445 195.372 165.026 187.152C156.607 178.932 152.398 168.363 152.398 155.446C152.398 142.529 156.607 131.96 165.026 123.74C173.445 115.52 184.27 111.41 197.5 111.41C210.73 111.41 221.554 115.52 229.973 123.74C238.392 131.96 242.602 142.529 242.602 155.446C242.602 168.363 238.392 178.932 229.973 187.152C221.554 195.372 210.73 199.482 197.5 199.482ZM101.282 293.718V266.122C101.282 258.685 103.186 252.324 106.995 247.04C110.803 241.756 115.714 237.744 121.728 235.004C135.158 229.132 148.038 224.729 160.366 221.793C172.694 218.857 185.072 217.389 197.5 217.389C209.928 217.389 222.256 218.906 234.483 221.94C246.711 224.973 259.54 229.328 272.971 235.004C279.185 237.744 284.196 241.756 288.005 247.04C291.813 252.324 293.718 258.685 293.718 266.122V293.718H101.282ZM119.323 276.104H275.677V266.122C275.677 262.991 274.725 260.006 272.82 257.168C270.916 254.331 268.561 252.227 265.754 250.857C252.925 244.789 241.199 240.631 230.575 238.38C219.951 236.129 208.926 235.004 197.5 235.004C186.074 235.004 174.949 236.129 164.124 238.38C153.3 240.631 141.573 244.789 128.944 250.857C126.138 252.227 123.833 254.331 122.029 257.168C120.225 260.006 119.323 262.991 119.323 266.122V276.104ZM197.5 181.867C205.317 181.867 211.782 179.372 216.894 174.381C222.005 169.391 224.561 163.079 224.561 155.446C224.561 147.813 222.005 141.501 216.894 136.511C211.782 131.52 205.317 129.025 197.5 129.025C189.682 129.025 183.217 131.52 178.106 136.511C172.994 141.501 170.438 147.813 170.438 155.446C170.438 163.079 172.994 169.391 178.106 174.381C183.217 179.372 189.682 181.867 197.5 181.867Z" fill="#F9F9F9"/>
                        </svg>  
                    </div>
                    <div class="personal-info-block content-block">
                        <div class="personal-info-block-body">
                            <div class="personal-info-block-body-header">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.9334 21.2571C17.7171 20.0575 16.9849 18.9644 15.8732 18.1813C14.7615 17.3983 13.346 16.9787 11.8906 17.0008C10.4352 17.0229 9.0391 17.4852 7.96236 18.3015C6.88562 19.1178 6.20171 20.2325 6.03804 21.4378" stroke="rgb(249,249,249)" stroke-width="1.5"/>
                                    <circle cx="12" cy="10" r="3" stroke="rgb(249,249,249)" stroke-width="1.5" stroke-linecap="round"/>
                                    <rect x="2.75" y="2.75" width="18.5" height="18.5" rx="3.25" stroke="rgb(249,249,249)" stroke-width="1.5"/>
                                </svg>                                                                   
                                ЛИЧНАЯ ИНФОРМАЦИЯ
                            </div>
                            <hr class="h-line">
                            <table class="user-data-table">
                                <tr class="user-data-table-row">
                                    <th class="user-data-table-row-field">Имя:</th>
                                    <td class="user-data-table-row-value"><%= user.name %></td>
                                </tr>
                                <tr class="user-data-table-row">
                                    <th class="user-data-table-row-field">Фамилия:</th>
                                    <td class="user-data-table-row-value"><%= user.surname %></td>
                                </tr>
                                <tr class="user-data-table-row">
                                    <th class="user-data-table-row-field">Отчество:</th>
                                    <td class="user-data-table-row-value"><%= user.middle_name %></td>
                                </tr>
                                <tr class="user-data-table-row">
                                    <th class="user-data-table-row-field">Почта:</th>
                                    <td class="user-data-table-row-value"><%= user.email %></td>
                                </tr>
                                <tr class="user-data-table-row">
                                    <th class="user-data-table-row-field">Статус:</th>
                                    <% switch(user.role) {
                                        case 'Обучающийся': %>
                                            <td class="user-data-table-row-value css-student-user-status"><%= user.role %></td>
                                        <% break;
                                        case 'Преподаватель': %>
                                            <td class="user-data-table-row-value css-teacher-user-status"><%= user.role %></td>
                                        <% break;
                                        case 'Администратор': %>
                                            <td class="user-data-table-row-value css-admin-user-status"><%= user.role %></td>
                                        <% break;
                                    } %>
                                </tr>
                            </table>
                        </div>
                        <div class="personal-info-block-btns">
                            <button class="edit-profile-button" data-custom-open="editDataModal">
                                <div class="edit-profile-button-icon">
                                    <img src="/assets/icons/settings-icon.svg" alt="Log-out-icon" class="edit-profile-button-icon-icon">
                                </div>
                                Изменить
                            </button>
                            <a href="/profile/log-out" class="log-out-button">
                                <div class="log-out-button-icon">
                                    <svg class="log-out-button-icon-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9 12.1208C9 11.7066 9.33579 11.3708 9.75 11.3708H21.791C22.2052 11.3708 22.541 11.7066 22.541 12.1208C22.541 12.5351 22.2052 12.8708 21.791 12.8708H9.75C9.33579 12.8708 9 12.5351 9 12.1208Z" fill="#E4E4E4" stroke="#E4E4E4" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3328 8.67559C18.6251 8.3821 19.1 8.38112 19.3935 8.67342L22.3215 11.5894C22.4628 11.7302 22.5423 11.9214 22.5423 12.1208C22.5423 12.3203 22.4628 12.5115 22.3215 12.6523L19.3935 15.5683C19.1 15.8605 18.6251 15.8596 18.3328 15.5661C18.0405 15.2726 18.0415 14.7977 18.335 14.5054L20.7294 12.1208L18.335 9.73625C18.0415 9.44396 18.0405 8.96909 18.3328 8.67559Z" fill="#E4E4E4" stroke="#E4E4E4" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2883 4.45009C15.065 5.02564 15.4533 5.96655 15.613 7.69884C15.651 8.11131 16.0162 8.41485 16.4287 8.37683C16.8411 8.33881 17.1447 7.97362 17.1066 7.56116C16.9363 5.71345 16.4896 4.21436 15.1813 3.24491C13.927 2.31546 12.0372 2 9.35981 2C5.80999 2 3.62744 2.55654 2.50738 4.37994C1.97354 5.249 1.73763 6.3253 1.62299 7.55739C1.50881 8.78465 1.50881 10.259 1.50881 11.9684V12.0316C1.50881 13.741 1.50881 15.2154 1.62299 16.4426C1.73763 17.6747 1.97354 18.751 2.50738 19.6201C3.62744 21.4435 5.80999 22 9.35981 22C12.0372 22 13.927 21.6845 15.1813 20.7551C16.4896 19.7856 16.9363 18.2866 17.1066 16.4388C17.1447 16.0264 16.8411 15.6612 16.4287 15.6232C16.0162 15.5851 15.651 15.8887 15.613 16.3012C15.4533 18.0334 15.065 18.9744 14.2883 19.5499C13.4576 20.1655 12.0124 20.5 9.35981 20.5C5.80864 20.5 4.44068 19.9015 3.7855 18.8349C3.43171 18.259 3.22381 17.4565 3.11654 16.3036C3.00953 15.1535 3.00881 13.7472 3.00881 12C3.00881 10.2528 3.00953 8.84654 3.11654 7.69636C3.22381 6.54345 3.43171 5.741 3.7855 5.16506C4.44068 4.09846 5.80864 3.5 9.35981 3.5C12.0124 3.5 13.4576 3.83454 14.2883 4.45009Z" fill="#E4E4E4" stroke="#E4E4E4" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>                                                                                                                                                           
                                </div>
                                Выйти
                            </a>
                        </div>
                    </div>
                    <% switch(user.role) {
                        case 'Обучающийся': %>
                            <div class="statistic-block content-block">
                                <div class="statistic-block-header">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3264 2.20978C12.4861 2.06644 12.6973 1.99131 12.9135 2.00095C17.4843 2.13778 21.3044 5.45592 21.9967 9.89075C22.0011 9.91723 22.0011 9.94424 21.9967 9.97072C22.0116 10.1806 21.9407 10.3876 21.7996 10.546C21.6586 10.7044 21.459 10.8011 21.2451 10.8148L13.5656 11.3212C13.3116 11.3437 13.0597 11.2602 12.8718 11.091C12.6839 10.9219 12.5774 10.6829 12.5785 10.4327L12.0623 2.88944V2.76505C12.0717 2.5529 12.1667 2.35313 12.3264 2.20978ZM11.7997 13.2937L18.4297 12.885H18.5011C18.7869 12.8896 19.0591 13.0055 19.2579 13.2072C19.4566 13.4088 19.5655 13.6796 19.5606 13.96C19.2984 17.7821 16.4962 20.9756 12.6828 21.7984C8.86938 22.6211 4.96017 20.8755 3.08778 17.514C2.53722 16.5458 2.1893 15.4795 2.06445 14.3776C2.01603 14.0511 1.99483 13.7213 2.00106 13.3914C2.01368 9.32719 4.90728 5.81919 8.95607 4.95962C9.4462 4.86788 9.93762 5.1126 10.1515 5.55491C10.2571 5.7142 10.2845 5.90922 10.2969 6.09995C10.367 7.17402 10.4393 8.23915 10.5113 9.30017C10.5732 10.2128 10.6349 11.1224 10.6948 12.032C10.6917 12.2463 10.7254 12.4595 10.7944 12.6628C10.9569 13.0629 11.3614 13.3167 11.7997 13.2937Z" fill="#E4E4E4"/>
                                    </svg>                                        
                                    Статистика обучения
                                </div>
                                <hr class="h-line">
                                <% if (userStatistic.length) { %>
                                <div class="filter-buttons">
                                    <button class="filter-button">5</button>
                                    <button class="filter-button">4</button>
                                    <button class="filter-button">3</button>
                                    <button class="filter-button">2</button>
                                    <button class="filter-button">1</button>
                                    <button class="filter-button active">Все</button>
                                </div>
                                <ul class="statistic-list">
                                    <% userStatistic.forEach((stat) => { %>
                                        <li class="statistic-item">
                                            <div class="statistic-item-header">
                                                <div class="statistic-item-info">
                                                    <div class="item-info-theme-title"><%= stat.themeTitle %></div>
                                                    <div class="item-info-note"><%= stat.note %></div>
                                                </div>
                                                <div class="statistic-item-score score_<%= stat.score %>">
                                                    <%= stat.score %>
                                                </div>
                                            </div>
                                            <div class="statistic-item-details">
                                                <div class="deatils-teacher-info">
                                                    <svg viewBox="0 0 24 24" fill="none">
                                                        <circle cx="12" cy="7" r="4" stroke="#E4E4E4" stroke-width="2" stroke-linecap="round"/>
                                                        <path d="M5.33788 18.3206C5.99897 15.5269 8.77173 14 11.6426 14H12.3574C15.2283 14 18.001 15.5269 18.6621 18.3206C18.79 18.8611 18.8917 19.4268 18.9489 20.0016C19.0036 20.5512 18.5523 21 18 21H6C5.44772 21 4.99642 20.5512 5.0511 20.0016C5.1083 19.4268 5.20997 18.8611 5.33788 18.3206Z" stroke="#E4E4E4" stroke-width="2" stroke-linecap="round"/>
                                                    </svg>                                                            
                                                    <%= stat.authorSurname + ' ' + stat.authorName.charAt(0)  + '. ' + stat.authorMidName.charAt(0) + '.' %>
                                                </div>
                                                <div class="deatils-date">
                                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12 19C12.1978 19 12.3911 18.9414 12.5556 18.8315C12.72 18.7216 12.8482 18.5654 12.9239 18.3827C12.9996 18.2 13.0194 17.9989 12.9808 17.8049C12.9422 17.6109 12.847 17.4327 12.7071 17.2929C12.5673 17.153 12.3891 17.0578 12.1951 17.0192C12.0011 16.9806 11.8 17.0004 11.6173 17.0761C11.4346 17.1518 11.2784 17.28 11.1685 17.4444C11.0586 17.6089 11 17.8022 11 18C11 18.2652 11.1054 18.5196 11.2929 18.7071C11.4804 18.8946 11.7348 19 12 19ZM17 19C17.1978 19 17.3911 18.9414 17.5556 18.8315C17.72 18.7216 17.8482 18.5654 17.9239 18.3827C17.9996 18.2 18.0194 17.9989 17.9808 17.8049C17.9422 17.6109 17.847 17.4327 17.7071 17.2929C17.5673 17.153 17.3891 17.0578 17.1951 17.0192C17.0011 16.9806 16.8 17.0004 16.6173 17.0761C16.4346 17.1518 16.2784 17.28 16.1685 17.4444C16.0586 17.6089 16 17.8022 16 18C16 18.2652 16.1054 18.5196 16.2929 18.7071C16.4804 18.8946 16.7348 19 17 19ZM17 15C17.1978 15 17.3911 14.9414 17.5556 14.8315C17.72 14.7216 17.8482 14.5654 17.9239 14.3827C17.9996 14.2 18.0194 13.9989 17.9808 13.8049C17.9422 13.6109 17.847 13.4327 17.7071 13.2929C17.5673 13.153 17.3891 13.0578 17.1951 13.0192C17.0011 12.9806 16.8 13.0004 16.6173 13.0761C16.4346 13.1518 16.2784 13.28 16.1685 13.4444C16.0586 13.6089 16 13.8022 16 14C16 14.2652 16.1054 14.5196 16.2929 14.7071C16.4804 14.8946 16.7348 15 17 15ZM12 15C12.1978 15 12.3911 14.9414 12.5556 14.8315C12.72 14.7216 12.8482 14.5654 12.9239 14.3827C12.9996 14.2 13.0194 13.9989 12.9808 13.8049C12.9422 13.6109 12.847 13.4327 12.7071 13.2929C12.5673 13.153 12.3891 13.0578 12.1951 13.0192C12.0011 12.9806 11.8 13.0004 11.6173 13.0761C11.4346 13.1518 11.2784 13.28 11.1685 13.4444C11.0586 13.6089 11 13.8022 11 14C11 14.2652 11.1054 14.5196 11.2929 14.7071C11.4804 14.8946 11.7348 15 12 15ZM19 3H18V2C18 1.73478 17.8946 1.48043 17.7071 1.29289C17.5196 1.10536 17.2652 1 17 1C16.7348 1 16.4804 1.10536 16.2929 1.29289C16.1054 1.48043 16 1.73478 16 2V3H8V2C8 1.73478 7.89464 1.48043 7.70711 1.29289C7.51957 1.10536 7.26522 1 7 1C6.73478 1 6.48043 1.10536 6.29289 1.29289C6.10536 1.48043 6 1.73478 6 2V3H5C4.20435 3 3.44129 3.31607 2.87868 3.87868C2.31607 4.44129 2 5.20435 2 6V20C2 20.7956 2.31607 21.5587 2.87868 22.1213C3.44129 22.6839 4.20435 23 5 23H19C19.7956 23 20.5587 22.6839 21.1213 22.1213C21.6839 21.5587 22 20.7956 22 20V6C22 5.20435 21.6839 4.44129 21.1213 3.87868C20.5587 3.31607 19.7956 3 19 3ZM20 20C20 20.2652 19.8946 20.5196 19.7071 20.7071C19.5196 20.8946 19.2652 21 19 21H5C4.73478 21 4.48043 20.8946 4.29289 20.7071C4.10536 20.5196 4 20.2652 4 20V11H20V20ZM20 9H4V6C4 5.73478 4.10536 5.48043 4.29289 5.29289C4.48043 5.10536 4.73478 5 5 5H6V6C6 6.26522 6.10536 6.51957 6.29289 6.70711C6.48043 6.89464 6.73478 7 7 7C7.26522 7 7.51957 6.89464 7.70711 6.70711C7.89464 6.51957 8 6.26522 8 6V5H16V6C16 6.26522 16.1054 6.51957 16.2929 6.70711C16.4804 6.89464 16.7348 7 17 7C17.2652 7 17.5196 6.89464 17.7071 6.70711C17.8946 6.51957 18 6.26522 18 6V5H19C19.2652 5 19.5196 5.10536 19.7071 5.29289C19.8946 5.48043 20 5.73478 20 6V9ZM7 15C7.19778 15 7.39112 14.9414 7.55557 14.8315C7.72002 14.7216 7.84819 14.5654 7.92388 14.3827C7.99957 14.2 8.01937 13.9989 7.98079 13.8049C7.9422 13.6109 7.84696 13.4327 7.70711 13.2929C7.56725 13.153 7.38907 13.0578 7.19509 13.0192C7.00111 12.9806 6.80004 13.0004 6.61732 13.0761C6.43459 13.1518 6.27841 13.28 6.16853 13.4444C6.05865 13.6089 6 13.8022 6 14C6 14.2652 6.10536 14.5196 6.29289 14.7071C6.48043 14.8946 6.73478 15 7 15ZM7 19C7.19778 19 7.39112 18.9414 7.55557 18.8315C7.72002 18.7216 7.84819 18.5654 7.92388 18.3827C7.99957 18.2 8.01937 17.9989 7.98079 17.8049C7.9422 17.6109 7.84696 17.4327 7.70711 17.2929C7.56725 17.153 7.38907 17.0578 7.19509 17.0192C7.00111 16.9806 6.80004 17.0004 6.61732 17.0761C6.43459 17.1518 6.27841 17.28 6.16853 17.4444C6.05865 17.6089 6 17.8022 6 18C6 18.2652 6.10536 18.5196 6.29289 18.7071C6.48043 18.8946 6.73478 19 7 19Z" fill="#E4E4E4"/>
                                                    </svg>                                                        
                                                    <%= stat.date.toLocaleString("ru", {
                                                        year: 'numeric',
                                                        month: 'numeric',
                                                        day: 'numeric',
                                                    }) %>
                                                </div>
                                            </div>
                                        </li>
                                    <% })%>
                                </ul>
                                <%} else { %>
                                    <div class="statistic-empty-item">
                                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="12" cy="12" r="10" stroke="#DD9000" stroke-width="1.5" stroke-linecap="round"/>
                                            <path d="M7.88124 16.2441C8.37391 15.8174 9.02309 15.5091 9.72265 15.3072C10.4301 15.103 11.2142 15 12 15C12.7858 15 13.5699 15.103 14.2774 15.3072C14.9769 15.5091 15.6261 15.8174 16.1188 16.2441" stroke="#DD9000" stroke-width="1.5" stroke-linecap="round"/>
                                            <circle cx="9" cy="10" r="1.25" fill="#DD9000" stroke="#DD9000" stroke-width="0.2" stroke-linecap="round"/>
                                            <circle cx="15" cy="10" r="1.25" fill="#DD9000" stroke="#DD9000" stroke-width="0.2" stroke-linecap="round"/>
                                        </svg>                                                                                    
                                        У вас пока нет статистики
                                    </div>
                                <% } %>
                            </div>  
                        <% break;
                        case 'Преподаватель': %>
                        <% break;
                        case 'Администратор': %>
                        <% break;
                    } %>
                </section>
            </div>
            <div class="modal micromodal-slide" id="editDataModal">
                <div class="modal__overlay">
                  <div class="modal__container" role="dialog">
                    <div class="modal__header">
                        <h2 class="modal__title d-inline-flex align-items-center gap-1">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.9334 21.2571C17.7171 20.0575 16.9849 18.9644 15.8732 18.1813C14.7615 17.3983 13.346 16.9787 11.8906 17.0008C10.4352 17.0229 9.0391 17.4852 7.96236 18.3015C6.88562 19.1178 6.20171 20.2325 6.03804 21.4378" stroke="rgb(249,249,249)" stroke-width="1.5"/>
                                <circle cx="12" cy="10" r="3" stroke="rgb(249,249,249)" stroke-width="1.5" stroke-linecap="round"/>
                                <rect x="2.75" y="2.75" width="18.5" height="18.5" rx="3.25" stroke="rgb(249,249,249)" stroke-width="1.5"/>
                            </svg>  
                            Личная информация
                        </h2>
                        <svg class="modal__close" data-custom-close="editDataModal" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 21C10.8181 21 9.64778 20.7672 8.55585 20.3149C7.46392 19.8626 6.47177 19.1997 5.63604 18.364C4.80031 17.5282 4.13738 16.5361 3.68508 15.4442C3.23279 14.3522 3 13.1819 3 12C3 10.8181 3.23279 9.64778 3.68508 8.55585C4.13738 7.46392 4.80031 6.47177 5.63604 5.63604C6.47177 4.80031 7.46392 4.13738 8.55585 3.68508C9.64778 3.23279 10.8181 3 12 3C13.1819 3 14.3522 3.23279 15.4442 3.68508C16.5361 4.13738 17.5282 4.80031 18.364 5.63604C19.1997 6.47177 19.8626 7.46392 20.3149 8.55585C20.7672 9.64778 21 10.8181 21 12C21 13.1819 20.7672 14.3522 20.3149 15.4442C19.8626 16.5361 19.1997 17.5282 18.364 18.364C17.5282 19.1997 16.5361 19.8626 15.4441 20.3149C14.3522 20.7672 13.1819 21 12 21L12 21Z" stroke="rgb(228,228,228)" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M9 9L15 15" stroke="rgb(228,228,228)" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M15 9L9 15" stroke="rgb(228,228,228)" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>                         
                    </div>
                    <div class="modal__content">
                        <form method="POST" action="/profile/update-user-data" id="editDataModal-form">
                            <div class="mb-3 edit-form-item">
                                <label for="name">Имя</label>
                                <input type="text" value="<%= user.name %>" name="name" id="name">
                            </div>
                            <div class="mb-3 edit-form-item">
                                <label for="name">Фамилия</label>
                                <input type="text" value="<%= user.surname %>" name="surname" id="surname">
                            </div>
                            <div class="mb-3 edit-form-item">
                                <label for="name">Отчество</label>
                                <input type="text" value="<%= user.middle_name %>" name="middle_name" id="middle_name">
                            </div>
                            <div class="mb-3 edit-form-item">
                                <label for="name">Почта</label>
                                <input type="text" value="<%= user.email %>" name="email" id="email">
                            </div>
                            <div class="edit-form-action">
                                <input type="hidden" value="<%= user.user_id %>" name="user_id">
                                <input type="submit" value="Сохранить">
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
        </main>
        
        <%- include('./partials/footer') %>
    </div>
    <script src="/libs/micromodal/micromodal.min.js"></script>
    <script src="/scripts/profile-page-script.js"></script>
</body>
</html>